[user]
    name = Capelo
    email = antonio.c.capelo@gmail.com
[core]
    editor = vim
    excludesfile = /Users/capelo/.gitignore
[push]
    default = simple
[alias]
    c = commit -am
    s = status -s
    df =status diff --color --color-words --abbrev
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
    ui = always
[apply]
    whitespace = fix
[merge]
    log = true
[diff]
    tool = vimdiff
