[core]
	excludesfile = /Users/capelo/.gitignore
[user]
	email = antonio.c.capelo@gmail.com
	name = Capelo
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	s = difftool --tool=vimdiff HEAD~..HEAD
	pushf = push --force-with-lease

